# This is a workflow that generates documentation
name: Generating documentation with Doxygen

# Controls when the workflow will run
on:
  # Triggers the workflow on push events for the main branch
  push:
    branches:
    - main
  # Triggers the workflow for pull requests
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "document"
  document:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: 'true'

    - name: Print current path
      run: pwd
      
    - name: Print directory contents
      run: ls
      
    - name: Setup awesome doxygen
      run: |
        cd doxygen-awesome-css
        git checkout v2.2.1
        cd ..
      
    - name: Install doxygen
      run: |
        sudo apt-get install wget
        wget https://github.com/doxygen/doxygen/releases/download/Release_1_9_7/doxygen-1.9.7.linux.bin.tar.gz
        tar -xvf doxygen-1.9.7.linux.bin.tar.gz
        cd doxygen-1.9.7
        sudo make install
        cd ..
        rm -rf doxygen-1.9.7
        rm doxygen-1.9.7.linux.bin.tar.gz

    - name: Install graphviz
      run: sudo apt-get install graphviz

    - name: Remove existing files
      run: rm -rf docs
      
    - name: Generate documentation
      run: doxygen Doxyfile

    - name: Commit changes
      # if: (git diff HEAD --name-only | wc -l) > 0
      run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add ./docs -f
          git commit -m "Updated the documentation" -v
          git push
      continue-on-error: true
